.w-100 {
    width: 100% !important;
}

.menu-items {
    cursor: pointer;
    font-size: 12px;
}

.btn-danger,
.btn-warning {
    // padding: 0px 8px 8px 0px;
    border-top-right-radius: 20px;
    border-bottom-right-radius: 20px;
    border-bottom-left-radius: 20px;
}

::ng-deep .selected-item {
    border-radius: 5px;

    img {
        background-color: rgba(197, 194, 194, 0.968);
        border-radius: 5px;

    }
}

.bi-heart {
    color: red;
    font-size: 24px;
}

p {
    font-size: 12px;
}
.three-btn{
    background-color: lightgrey; border-radius: 10px; width: 120px;
}
.clr-blck{
    color: black;
}

.f-24{
    font-size: 24px;
}