<div class="row">
    <div class="col-lg-4"></div>
    <div class="col-lg-4 col-sm-12">
        <div class="card">
            <div class="card-body">
                <div class="row mt-4 mb-4 w-100">
                    <div class="col-2"><i class="bi bi-arrow-left" style="font-size: 24px;"></i></div>
                    <div class="col-8 text-center">
                        <h3>Burgers</h3>
                    </div>
                    <div class="col-2"><i class="bi bi-cart" style="font-size: 24px;"></i></div>
                </div>
                <div class="row mb-4 w-100 text-center">
                    <div class="col menu-items text-danger"><u>All Items</u></div>
                    <div class="col text-muted menu-items">New Items</div>
                    <div class="col text-muted menu-items">Recommended</div>
                    <div class="col text-muted menu-items">Special</div>
                </div>
                <div class="images m-auto">
                    <div class="row">
                        <div class="col-8">
                            <!-- <img src="../../asset/cheeseburger.png" alt=""> -->
                            <p-image preview="true" [src]="'../../asset/cheeseburger.png'" height="200"
                                width="200"></p-image>
                        </div>
                        <div class="col-3">
                            <div class="row text-center" *ngFor="let item of items; let i=index">
                                <div class="text-end" (click)="selectItem(item)">
                                    <p-image  [ngClass]="i==0 ? 'selected-item': ''" [src]="item.img" height="50"
                                        width="50"></p-image>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="row mt-2">
                    <div class="col-8">
                        <h3>{{itemName}}</h3>
                    </div>
                    <div class="col-4 text-center">
                        <i class="bi bi-heart" style="color: red; font-size: 24px;"></i>
                    </div>
                </div>
                <div class="row">
                    <div class="col-7">
                        <p style="font-size: 12px;">Ham, Cheddar cheese, Onion, Cornichon, Salad, Tomato</p>
                    </div>
                </div>
                <h3 class="mt-2">{{'$'+amount}}</h3>
                <div class="row text-center mt-4">
                    <div class="col-4 m-auto" style="background-color: lightgrey; border-radius: 10px; width: 120px;">
                        <div class="d-flex">
                            <button class="btn btn-secondary" style="color: black;" (click)="removeItem()" [disabled]="qty ==0">-</button>
                            <span class="m-auto text-center ">{{qty}}</span>
                            <button class="btn btn-secondary" style="color: black;" (click)="addItem()">+</button>
                        </div>
                    </div>
                    <div class="col m-auto text-end">
                        <button class="btn btn-danger" (click)="addToCart()">Add To Cart</button>
                    </div>
                </div>
                <div class="row mt-4">
                    <div class="col-4 m-auto">
                        <button class="btn btn-warning" (click)="order()">Order Now</button>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="col-lg-4"></div>
</div>